<!--Определение типа документа-->
<!DOCTYPE html>
<html lang="en">
<!--Заглавный код-->
<head>
<!--Определение типа страницы, показывает браузеру тип документа и кодировку-->
    <meta charset="UTF-8">
<!--Титульное название нашей страницы-->
    <title>Title</title>
<!--Устанавливает форму на веб-странице-->
    <form action="" method="post">
        {% if full_name %}
<!--Определяет текстовый абзац-->
        <p>Hello, {{full_name}}! </p>
        {% endif %}

 </p>

    </form>
</head>
<body>

</body>
</html>
© 2021 GitHub, Inc.
Terms
Privacy