<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <p>
<!--Устанавливает связь между определенной меткой, такая связь необходима, чтобы изменять значения элементов формы-->
     <label for="username">Username</label>
<!--Позволяет создавать разные элементы интерфейса и обеспечить взаимодействие с пользователем-->
<!--Сообщает браузеру к какому типу относится элемент формы, имя поля предн для того чтобы обработчик формы его идентифицировать-->
     <input type="text" name="username">
 </p>
 <p>
     <label for="password">Password</label>
     <input type="password" name="password">
 </p>
 <p>
     <input type="submit" value="login" name="login">
  <input type="submit" value="registration" name="registration">
 </p>

 </form>

</body>
</html>